@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Inter', sans-serif;
}

body {
  background: #000428; /*  fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000428, #073155); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000428, #072f52); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#language ul{
    margin: 20px;
    display: flex;
    justify-content: end;
}

#language ul li {
  opacity: 0.5;
  list-style: none;
}

#language ul button {
  padding: 10px;
  background-color: white;
  font-size: 15px;
  color: black;
  border-radius: 12px;
}

#language ul span {
  border-right: solid;
  margin: 0px 20px;
}

#v1 {
  display: grid;
  grid-template-areas:
    'header content'
    'footer footer';
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  
}

header {
  padding-top: 100px;
  width: 517px;
  overflow: hidden;
  margin-right: 20px;
}

header h1 {
  font-weight: 700;
  line-height: 48px;
  font-size: 48px;
}

header h2 {
  margin-top: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

header p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
  padding-bottom: 10px;
  border-bottom: solid transparent;
  border-image: linear-gradient(to right, red, blue ) 1;
}

header .resume {
  text-decoration: none;
  font-weight: bold;
}


header .resume:hover {
  border-bottom: solid white 1px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  margin-top: 120px;
}

header nav ul li {
  padding: 12px 0;
  width: 50%;
  transition: 0.5s;
}
header nav ul li a{
  opacity: 0.5;
}
header nav ul  a.active .line{
  padding-right: 70px;
}

header nav ul a.active{
  opacity: 1;
}


header nav ul li a:hover {
  opacity: 1;
}
header nav ul li a:hover .line {
  transition: 0.5s;
  padding-right: 70px;
}

header nav ul li a .line {
  border-bottom: solid;
  padding-right: 40px;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
}

header nav img{
  border-radius: 20px;
  border: solid white;
}

header .sosmed {
  display: flex;
  margin-top: 100px;
}

header .sosmed li {
  list-style: none;
  margin-left: 10px;
}

header .sosmed li a {
  padding-right: 20px;
  text-decoration: none;
}

header .sosmed li a i {
  font-size: 30px;
  opacity: 0.5;
}

header .sosmed li a i:hover {
  transition: 0.2s;
  opacity: 1;
}

#content {
  scroll-behavior: smooth;
  padding-bottom: 100px;
  width: 517px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

#content::-webkit-scrollbar {
  width: 0.5rem;
}

#content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#content #about {
  padding-top: 100px;
}

#content #about p {
  size: 16px;
  opacity: 0.7;
  text-align: justify;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 28px;
}

#content #skill {
  padding: 100px 0px;
}

#content #skill .front-end {
  padding-right: 16px;
  padding-left: 8px;
  padding-top: 12px;
  margin-top: 16px;
  display: grid;
  grid-template-areas:
    'level header header'
    'level content content';
}
#content #skill .front-end .level {
  padding: 0px 0px 0px 0px;
  width: 80%;
  grid-area: level;
  border-radius: 12px;
  border-right: solid rgba(255, 255, 255, 0.578);
}

#content #skill .front-end .level div {
  opacity: 0.7;
  padding-bottom: 25px;
}

#content #skill .front-end .level div:nth-child(1) {
  opacity: 1;
  font-size: 20px;
}

#content #skill .front-end h1 {
  grid-area: header;
}

#content #skill .front-end ul {
  display: flex;
  list-style: none;
  grid-area: content;
  height: 30px;
}

#content #skill .front-end ul li {
  background-color: #2dd4bf1a;
  color: rgb(7, 246, 190);
  padding: 5px 20px;
  border-radius: 12px;
  margin-right: 20px;
}

#content #skill .front-end:hover {
  background-color: #2dd4bf1a;
  border-radius: 12px;
}

#content #skill .back-end {
  padding-right: 50px;
  padding-left: 8px;
  padding-top: 12px;
  margin-top: 16px;
  display: grid;
  grid-template-areas:
    'level header header'
    'level content content';
}
#content #skill .back-end .level {
  padding: 0px 80px 0px 0px;
  width: 80%;
  grid-area: level;
  border-radius: 12px;
  border-right: solid rgba(255, 255, 255, 0.578);
}

#content #skill .back-end .level div {
  opacity: 0.7;
  padding-bottom: 25px;
}

#content #skill .back-end .level div:nth-child(1) {
  opacity: 1;
  font-size: 20px;
}

#content #skill .back-end h1 {
  grid-area: header;
}

#content #skill .back-end ul {
  display: flex;
  list-style: none;
  grid-area: content;
  height: 30px;
}

#content #skill .back-end ul li {
  background-color: #2dd4bf1a;
  color: rgb(7, 246, 190);
  padding: 5px 20px;
  border-radius: 12px;
  margin-right: 20px;
}

#content #skill .back-end:hover {
  background-color: #2dd4bf1a;
  border-radius: 10px;
}

#content #project {
  height: max-content;
}

#project li {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  height: max-content;
  list-style-type: none;
}

#project li a {
  text-decoration: none;
  display: grid;
  gap: 10px;
  grid-template-areas:
    'img header header'
    'img isi isi'
    'img isi isi'
    'img footer footer';
}

#project li a img {
  grid-area: img;
}
#project li a p {
  width: 100%;
  grid-area: isi;
  size: 16px;
  opacity: 0.7;
  text-align: justify;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 28px;
  max-width: max-content;
  padding-right: 10px;
}

#project li a h2 {
  grid-area: header;
  font-size: 18px;
}

#project li a ul {
  display: flex;
  list-style: none;
  grid-area: footer;
}

#project li a ul li {
  background-color: #2dd4bf1a;
  color: rgb(7, 246, 190);
  padding: 5px 20px;
  border-radius: 12px;
  margin-right: 20px;
}

#project div {
  display: flex;
  justify-content: center;
}

#project button {
  margin-top: 10px;
  color: white;
  background-color: #000428;
  border-radius: 10px;
  opacity: 0.6;
  padding: 10px;
  font-size: 15px;
}

#project button:hover {
  opacity: 1;
}

#project li:hover a h2 {
  color: rgb(7, 246, 190);
}

#project li:hover {
  background-color: #2dd4bf1a;
}

footer {
  display: flex;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
  justify-content: center;
  margin-top: -30px;
  margin-left: 0px;
  background-color: #164b60;
  grid-area: footer;
}

@media screen and (max-width: 600px) {
    #language ul{
        display: flex;
        justify-content: center;
    }
    #language ul span{
        margin: 0px 20px;
        border-right: solid;
    }
    #language ul li{
        opacity: 0.5;
        list-style: none;

    }

  #language ul li a {
    text-decoration: none;
  }

  #v1{
    overflow: hidden;
    padding-left: 40px;
    height: 100%;
    width: 100%;
    display: inline-block;
  }

  header {
    max-width: 300px;
  }

  header h1 {
    font-size: 36px;
  }

  header h2 {
    font-size: 18px;
  }

  header p {
    font-size: 12px;
  }

  header nav {
    display: none;
  }

  header .sosmed {
    margin-top: 20px;
  }

  header .sosmed li a i {
    font-size: 25px;
  }

  #content {
    overflow-y: visible;
    height: 100%;
    max-width: 300px;
  }

  #content #skill .front-end .level {
    padding-right: 20px;
    height: 200px;
  }

  #content #skill .front-end .level div {
    font-size: 12px;
  }
  #content #skill .front-end ul {
    margin-top: -80px;
    flex-wrap: wrap;
  }

  #content #skill .front-end ul li {
    margin-bottom: 12px;
    font-size: 12px;
  }

  #content #skill .back-end .level {
    padding-right: 20px;
    height: 200px;
  }

  #content #skill .back-end .level div {
    font-size: 12px;
  }

  #content #skill .back-end ul {
    margin-top: -80px;
    flex-wrap: wrap;
  }

  #content #skill .back-end ul li {
    margin-bottom: 12px;
    font-size: 12px;
  }

  #project {
    height: max-content;
    max-width: 300px;
  }

  #project ul li.a {
    border-bottom: solid;
    border-image: linear-gradient(to right, red, blue ) 1;
  }

  #project li a {
    display: grid;
    grid-auto-columns: 80px;
    grid-template-areas: "header header header"
                         "isi isi isi "
                         "footer footer footer"
                         "img img img";
  }

  #project li a ul{
    margin-bottom: 12px;
    font-size: 8px;
  }

  footer {
    position: relative;
    margin: 0px;
    padding: 40px;
    margin-left: -70px;
  }
}
