/* content style */

#content {
  scroll-behavior: smooth;
  padding: 2px;
  width: 517px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: green;
}

#content::-webkit-scrollbar {
  width: 0.5rem;
}

#content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#content #about {
  padding-top: 100px;
}

#content #about p {
  size: 20px;
  opacity: 0.7;
  text-align: justify;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 28px;
}

#content #skill {
  padding-top: 100px;
}

#content #skill div{
  display: block;
}

#content #skill .judul{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: black;
}

#content #skill span.active{
  border-bottom: solid transparent;
  border-image: linear-gradient(to right, red, blue) 1;
}

#content #skill span{
  font-weight: bold;
  font-size: 20px;
  margin-right: 15px;
  font-family:  monospace;
  text-transform: uppercase;
}

#content #skill .front-end-teknologi{
  margin-top: 12px;
  font-size: 16px;
}

#content #skill ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgb(10, 17, 44);
}

#content #skill ul li{
  margin: 20px 0px;
  color: aquamarine;
  font-weight: bold;
}


#content #skill span:hover{
  border-bottom: solid transparent;
  border-image: linear-gradient(to right, rgb(240, 75, 75), rgb(223, 235, 112)) 1;
  transition: 0.2s;
}

#content #project {
  padding-top: 100px;
  height: max-content;
  width: 100%;
}

#project ul li {
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  list-style-type: none;
  border-bottom: solid;
  border-image: linear-gradient(to right, red, blue) 1;
}


#project li a {
  text-decoration: none;
  display: grid;
  gap: 10px;
  grid-template-areas:
    'img header header'
    'img isi isi'
    'img isi isi'
    'img footer footer';
}

#project li a img {
  grid-area: img;
}
#project li a p {
  width: 100%;
  grid-area: isi;
  size: 16px;
  opacity: 0.7;
  text-align: justify;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 28px;
  max-width: max-content;
}

#project li a h2 {
  grid-area: header;
  font-size: 18px;
}

#project li a ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  grid-area: footer;
}

#project li a ul span {
  background-color: #2dd4bf1a;
  color: rgb(7, 246, 190);
  border-radius: 12px;
  padding: 5px 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#project div {
  display: flex;
  justify-content: center;
}

#project button {
  margin-top: 10px;
  color: white;
  background-color: #000428;
  border-radius: 10px;
  opacity: 0.6;
  padding: 10px;
  font-size: 15px;
}

#project button:hover {
  opacity: 1;
}

#project li:hover a h2 {
  color: rgb(7, 246, 190);
}

#project li:hover {
  background-color: #2dd4bf1a;
}



