/* mobile style */

@media screen and (max-width: 530px) {

  
  #v1{
    display: block;
  }
  header {
    max-width: 100%;
    margin-top: 40px;
    padding: 0px 30px;
  }

  header h1 {
    font-size: 36px;
  }

  header h2 {
    font-size: 18px;
  }

  header p {
    font-size: 12px;
  }

  header nav {
    display: none;
  }

  header .sosmed {
    margin-top: 20px;
  }

  header .sosmed li a i {
    font-size: 25px;
  }

  #content {
    overflow-y: visible;
    height: 100%;
    max-width: 100%;
  }

  #content section{
    padding: 0px 30px;
  }

  #content #skill span{
    font-size: 10px;
  }


  #project {
    height: max-content;
    max-width: 100%;
  }

  #project li a {
    display: grid;
    grid-template-areas:
      'header header header'
      'isi isi isi '
      'footer footer footer'
      'img img img';
  }

  #project li a ul {
    margin-bottom: 12px;
    font-size: 8px;
  }
}
