@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Inter', sans-serif;
}

body {
  background: #000428; /*  fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000428, #073155); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000428, #072f52); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#language ul {
  margin: 20px;
  display: flex;
  justify-content: end;
}

#language ul li {
  opacity: 0.5;
  list-style: none;
}

#language ul button {
  padding: 10px;
  background-color: white;
  font-size: 15px;
  color: black;
  border-radius: 12px;
}

#language ul span {
  border-right: solid;
  margin: 0px 20px;
}

#v1 {
  display: grid;
  grid-template-areas:
    'header content'
    'footer footer';
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

footer {
  display: flex;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
  justify-content: center;
  margin-top: -30px;
  margin-left: 0px;
  background-color: #164b60;
  grid-area: footer;
}

/* mobile style */

@media screen and (max-width: 600px) {
  #language ul {
    display: flex;
    justify-content: center;
  }
  #language ul span {
    margin: 0px 20px;
    border-right: solid;
  }
  #language ul li {
    opacity: 0.5;
    list-style: none;
  }

  #language ul li a {
    text-decoration: none;
  }

  #v1 {
    overflow: hidden;
    padding-left: 40px;
    height: 100%;
    width: 100%;
    display: inline-block;
  }

  footer {
    position: relative;
    margin: 0px;
    padding: 40px;
    margin-left: -70px;
  }
}

@media screen and (max-width: 950px) and (min-width: 530px) {
  #language ul {
    display: flex;
    justify-content: center;
  }
  #language ul span {
    margin: 0px 20px;
    border-right: solid;
  }
  #language ul li {
    opacity: 0.5;
    list-style: none;
  }

  #language ul li a {
    text-decoration: none;
  }

  #v1 {
    overflow: hidden;
    padding: 0px 40px;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  footer {
    position: relative;
    margin: 0px -70px;
    padding: 40px;
  }
}
